.title {
    text-align: center;
    font-size: 60px;
}

.main {
    text-align: center;
    font-size: 40px;
}

ul {
    text-align: center;
    font-size: 30px;
}

li {
    text-align: center;
    font-family: monospace;
}

* {
    font-family: sans-serif;
}

.listHeading {
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    font-style: italic;
}